@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    background-color: #f6f7fb;
    font-family: "Poppins", sans-serif;
  }
  .cardJob {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  }
}
